* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.main {
  border-radius: 10px;
  background: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 60px auto;
  border: 1px solid red;
  padding: 10px;
  max-width: 700px;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 60px;
}

.searchitem {
display: flex;
    text-align: center ;

}

#todoname {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 20px;
  padding: 5px;
}
.listitem{
    
  border-radius: 10px;
  background: lightblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid red;
  list-style: none;
  padding: 10px;
  width: 70%;
  margin: 10px;
  text-align: left;

}
#addbtn {
  width: 20%;
  height: 59px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
}
 